*{
  padding:0 ;
  margin: 0;
  box-sizing: border-box;
}
.header-top{
  height:80px;
  width: 100%;
  background: rgb(0,100,0);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .brand{
  position:relative;
  margin-left:8% ;
}
.header-top .brand img{
  width: 150px;
  cursor: pointer;
}
.header-top .menu-bar{
 background: rgb(0,100,0);
  height: 80px;
  width: 100%;
  text-align: center;
}
.header-top .menu-bar ul{
  display: inline-flex;
  list-style: none;
  color:#fff;
}
.header-top .menu-bar ul li{
  width: 120px;
  margin:10px;
  padding: 15px;
}
.header-top .menu-bar ul li a{
  text-decoration: none;
  color:#fff;
}
.active, .header-top .menu-bar ul li:hover{
  background: #2bab0d;
  border-radius: 4px;
}
.sub-menu-1{
  display: none;
}
.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: rgb(0,100,0);
  margin-top:15px;
  margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
   border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color:#b2ff00;
}
.header-top .login-register{
  margin-right:8%;
  display: flex;
}
.header-top .login-register .LoginButton{
  margin-right:10px;
  width: 100px;
  height: 45px;
  border:2px;
  border-radius: 10px;
  background: #CD3C0D;
  color:white;
}
.header-top .login-register .LoginButton:hover{
  margin-right:10px;
  width: 100px;
  height: 45px;
  border:2px;
  border-radius: 10px;
  background: #A82C05;
  color:White;
 
}
.header-top .login-register .RegisterButton{
  width: 100px;
  height: 45px;
  border:2px solid #CD3C0D;
  border-radius: 10px;
  background: white;
  color:#CD3C0D;
}
.header-top .login-register .RegisterButton:hover{
  width: 100px;
  height: 45px;
  border:2px;
  border-radius: 10px;
  background: #CD3C0D;
  color:White;
}
